.cell {
  display: block;
  border: 1px solid #000;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
}

.alive.yellow {
  background-color: #f6ff98;
}

.alive.green {
  background-color: #8bfd81;
}

.alive.violet {
  background-color: #e3aeff;
}

.alive.blue {
  background-color: #9fd9ff;
}

.dead {
  background-color: #808080;
}
