.cell {
  display: block;
  border: 1px solid #000;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
}

.alive.yellow {
  background-color: #effd56;
}

.alive.green {
  background-color: #6dc066;
}

.alive.violet {
  background-color: #d186e8;
}

.alive.blue {
  background-color: #447fff;
}

.dead {
  background-color: #808080;
}
